html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    align-content: center;
  }

  h1 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.2rem;
    text-align: start;
    color: black;
    padding: 20px 0 40px 0;
    border-bottom: 2px solid gainsboro;
  }

  .main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 50%;
    overflow: hidden;
  }

  .list {
    font-weight: 700;
    font-size: 2rem;
    padding: 10px 0;    
  }

  .list_item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-bottom: 2px solid gainsboro;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }

  .list_item_name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    color: blue;
    cursor: pointer;    
  }  

  input {
    height: 50px;
    margin-bottom: 20px;
    opacity: 0;
  }

  .fa-plus {
    color: black;
    content: "\f067";
    font-size: medium;
    transition: all .5s ease-in-out;    
  }

  .content {    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 172, 172);
    border: 2px solid black;
    opacity: 0;
    width: 0;
    height: 0;
    transition: all .6s;
    overflow: hidden;
  }

  .content_one {
    display: flex;
    background-image: url('./img/one-hour-before-deadline.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 37vh;
    overflow: hidden;
  }

  .content_deadine {
    display: block;
    background-image: url('./img/deadline.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 50vh;
    overflow: hidden;
  }

  .content_error {
    display: block;
    background-image: url('./img/error.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 45vh;
    overflow: hidden;
  }

  .content_google {
    display: block;
    background-image: url('./img/google.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 50vh;
    overflow: hidden;
  }

  .content_git {
    display: block;
    background-image: url('./img/git-problem.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 50vh;
    overflow: hidden;
  }

  .input:checked ~ .content {
    width: 100vw;
    height: 70vh;
    margin: 50px 0;
    opacity: 1;
    transition: ease-in-out;
  }

  .input:checked ~ .list_item_name {
    color: black;
  }

  .input:checked ~ .fa-plus {
    transform: rotate(45deg);
  }

  @media (min-width:820px) {
    .list {
      font-size: 2rem;
    }

    .content_one {
      width: 42vw;
      height: 50vh;
    }
  
    .content_deadine {
      width: 38vw;
      height: 60vh;
    }
  
    .content_error {
      width: 40vw;
      height: 60vh;
    }
  
    .content_google {
      width: 38vw;
      height: 60vh;
    }
  
    .content_git {
      width: 38vw;
      height: 60vh;
    }  
  }
  
  @media (min-width:1920px) {
    h1 {
      font-size: 4rem;
      line-height: 1.6rem;
    }
    
    .list {
      font-size: 3rem;
    }
    
    .content_one {
      width: 30vw;
      height: 43vh;
    }
  
    .content_deadine {
      width: 20vw;
      height: 36vh;
    }
  
    .content_error {
      width: 23vw;
      height: 40vh;
    }
  
    .content_google {
      width: 21vw;
      height: 40vh;
    }
  
    .content_git {
      width: 21vw;
      height: 40vh;
    }
    
    input:hover ~ .content {
    width: 30vw;
    height: 45vh;
    margin: 50px;
    opacity: 1;
    transition: ease-in-out;
  }

  .input:hover ~ .list_item_name {
    color: black;
  }

  .input:hover ~ .fa-plus {
    transform:rotate(45deg);
  }

  .input:checked ~ .content {
    width: 30vw;
    height: 32vh;
  }
}

@media(hover: hover) {
  .list:hover .list_item_name {
    color: black;
  }
}
